# MongoDB Connection
# MONGODB_URI=mongodb://localhost:27017
# ==============================================
MONGODB_URI=
MONGODB_DATABASE=testing-templates123


# JWT Secret (CHANGE THIS IN PRODUCTION!)
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

ADMIN_EMAIL=admin@yourapp.com
ADMIN_PHONE=001
ADMIN_PASSWORD=admin123



S3_REGION_NAME=
S3_ENDPOINT_URL=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=x.neuronwww.com


# ==============================================
# APPLICATION SETTINGS
# ==============================================

CONTACT_US_LINK=https://wa.me/1234567890

# ==============================================
# WHATSAPP SERVER
# ========================a======================
WHATSAPP_SERVER_PORT=3182
WHATSAPP_SERVER_URL=http://localhost:3182

# ==============================================
# OPTIONAL: DEBUGGING
# ==============================================
DEBUG=false
VERBOSE=false


# to host on live server linux, easiest way is to use ecosystem.config.js /cjs

BODY_SIZE_LIMIT=30M

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

BAILEYS_AUTH_ID=
# to debug, go to /whatsapp-dashboard
AUTO_START_WHATSAPP=true
